<h1 style="font-size:70px">WELCOME BOSS</h1>


<img src="http://www.monitor.al/images/2012/05/boss.png" alt="THE BOSS">

<h1>THE CHIEF IS THE ONLY ONE THAT CREATES AND DELETS USERS</h1>

    <p>Welcome to {{user.username}}</p>
    <a class="btn btn-success" href="/pass/createUsers" role="button">Create Users</a>
<a class="btn btn-danger" href="/" role="button">Back to Home</a>